<!DOCTYPE html>
<html>
<head>
    <title>DB Transaction Sample</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <form id="newCustomer" method="post" action="saveCustomer">
    統一編號: <input type="text" name="uno" /><br>
    公司名稱: <input type="text" name="name" /><br>
    管理者姓名: <input type="text" name="username" /><br>
    管理者帳號: <input type="text" name="account" /><br>
    管理者密碼: <input type="text" name="password" /><br>
        <input type="submit"/>
    </form>
</body>
</html>